@page "/"

<PageTitle>Index</PageTitle>

<h1>Bartłomiej Groberek</h1>

<p>nr albumu: 110645</p>
<p>Nie rozumiem czemu localnie jest białe tło a poprzez hosta jest ciemne nawet po stworzeniu od nowa wszystkiego</p>

 <img src="Images/la.jpg" width="300px" />