@page "/students"

@inject HttpClient Http


<PageTitle>Lista Studentów</PageTitle>

<h1>Lista Studentów</h1>
<p>JEŚLI znajdę ostatni błąd to tu bedzie lista</p>

<img src="Images/żerą.png" width="300px" />